.App {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
}

.insights-container {
  width: 100%;
  padding: 30px;
  height: 100%;
  border-radius: 0px 20px 20px 0px;
}

.app-inner-container {
  padding: 50px;
  display: grid;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  min-height: 100vh;
  border-radius: 60px;
}

.dark {
  background-color: #000;
  color: #fff;
}
.light {
  background-color: #fff;
  color: #000;
}

@media only screen and (max-width: 767px) {
  .app-inner-container {
    grid-template-columns: 1fr;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .app-inner-container {
    grid-template-columns: 1fr 2fr;
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .cards-container {
    grid-template-columns: 1fr 1fr;
  }
}
